html {
  font-size: 24px;
}

.player-turn {
  font-size: 2rem;
  text-align: center;
}

.display {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

button {
  font-size: 48px;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.game {
  display: grid;
  grid-template-rows: 70px 300px 100px 100px;
  grid-template-columns: 300px;
  width: min-content;
  margin: 0 auto;
}